* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
}

.nav-wrapper { padding: 0 1rem; }

.brand-logo { top: 15%; }

.logo {
  display: block;
  width: 40px;
  height: 40px;
  fill: #333;
}